body{
    background-color: #91ff95;
    color: black;
    font-family:  Verdana, sans-serif;
}
div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.left{
    background-color: #FFC700;
}
.right{
    background-color: #FFC700;
}
a{
    text-decoration: none;
    color: #785e00;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: #FFC700;
    margin-top: 10px;
    height: 30px;
}